<!-- Some work on the template has still to be done but it is
     only a linking work -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <!-- formControlName is a shortcut with respect to specifying the full
       path of the property -->
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>

  @if (emailIsInvalid) {
    <p class="control-error">Please enter a valid email address.</p>
  }

  @if (passwordIsInvalid) {
    <p class="control-error">
      Please enter a valid password (at least 6 characters long and contain a
      question mark).
    </p>
  }
</form>
