<div>
  <ul>
    @for (ticket of tickets; track ticket.id) {
    <li><app-ticket [data]="ticket" /></li>
    <!-- <li><app-ticket /> - {{ $first }}</li>  True for the first element-->
    <!-- <li><app-ticket /> - {{ $last }}</li>  True for the last element-->
    <!-- <li><app-ticket /> - {{ $even }}</li>  True for the even elements-->
    <!-- <li><app-ticket /> - {{ $count }}</li>  Total number of elements-->
    } @empty {
    <p>No tickets available.</p>
    }
  </ul>
</div>
<div id="new-ticket">
  <app-new-ticket (add)="onAdd($event)" />
</div>
